<div class="home-wrap" style="padding: 20px;">
<div class="search_containern row">
    <div class="search-wrap card col-12" style="padding: 30px;">
      <div class="label text-center">
        <label for="search" class="label">
          <p class="fw-bold fs-5">Hospitals Near You</p>
        </label>
      </div>
      <input type="text" [(ngModel)]="onSearchValue" class="form-control mt-2"  name="search">
      <div class="btn-wrap mt-2">
        <button class="btn btn-primary w-100" style="border-radius: 25px;"  (click)="onSearch()"> Search </button>
      </div>
      <div class="btn-wrap mt-2">
        <button class="btn btn-warning w-100" style="border-radius: 25px;" (click)="onReset()"> Reset </button>
      </div>
    </div>


    <div class="hospital-list-wrap" style="height: 500px; overflow: scroll;margin-top: 15px;">
        <ng-container *ngIf="hospitalList && hospitalList.length>0">
          <div class="hospital-item card mt-2" *ngFor="let item of hospitalList" style="padding: 10px;">
            <label for="search" class="label">
              <p class="fw-bold fs-5">{{item.name}}</p>
            </label>

            <p class="">
              {{item.distance_km}} km
            </p>
            <button  class="btn btn-outline-info" (click)="onView(item)">View</button>
          </div>
        </ng-container>

        <ng-container *ngIf="hospitalList && hospitalList.length==0">
          <div class="hospital-item card mt-2" style="padding: 10px;">
            <label for="search" class="label">
              <p class="fw-bold fs-5">
                No item found.
              </p>
            </label>
          </div>
        </ng-container>
    </div>
</div>
</div>
