<div class="home-wrap" style="padding: 20px;">
  <div class="search_containern row">
      <div class="search-wrap card col-12" style="padding: 30px;">
        <div class="label text-center">
          <label for="search" class="label">
            <p class="fw-bold fs-5">Your Appointments</p>
          </label>
        </div>

      </div>


      <div class="hospital-list-wrap" style="height: 500px; overflow: scroll;margin-top: 15px;">
          <ng-container *ngIf="dataList && dataList.length>0">
            <div class="hospital-item card mt-2" *ngFor="let item of dataList" style="padding: 10px;">
              <label for="search" class="label">
                <p class="fw-bold fs-5">{{item.bookedBy}}</p>
              </label>

              <p class="fw-bold">
                Hospital: {{item.hospitalName}}
              </p>
              <p class="fw-bold">
                Doctor: {{item.doctorName}}
              </p>
              <span class="badge rounded-pill text-bg-warning" style="position: absolute;
              padding: 10px;
              right: 6px;">{{item.time}}</span>

              <!-- <span class="badge rounded-pill text-bg-success" style="padding: 10px;"></span> -->
              <p class="fw-bold text-center">
                {{item.date}}
              </p>

              <button type="button" class="btn btn-outline-primary" (click)="onViewDetail(item)">View Detail</button>

            </div>
          </ng-container>

          <ng-container *ngIf="dataList && dataList.length==0">
            <div class="hospital-item card mt-2" style="padding: 10px;">
              <label for="search" class="label">
                <p class="fw-bold fs-5">
                  No item found.
                </p>
              </label>
            </div>
          </ng-container>
      </div>
  </div>
  </div>
